// ----------------------------------------------------- //
// Fonts
// ---------------------------------------------------- //

@font-face {
    font-family: 'iransansXV';
    src: url('~/assets/fonts/IRANSansXV.woff') format('woff-variations'),
        url('~/assets/fonts/IRANSansXV.woff') format('woff');
    font-weight: 100 900;
    font-display: fallback;

}

@supports (font-variation-settings: normal) {
    html,
    html * {
        font-family: 'iransansXV', sans-serif !important;
    }
}

html,
html * {
    white-space: normal;
    font-variation-settings: "wght" 400, "dots" 0
}
