//------------------------------------------------
// System design class for 'Typography'
//------------------------------------------------

// Heading Typo class

$typoParent : 's-typo';

.#{$typoParent} {
    font-variation-settings: "wght" 700;
    line-height: normal;

    &-h1{
        font-size: 96px;
    }
    
    &-h2{
        font-size: 60px;
    }
    
    &-h3{
        font-size: 48px;
    }
    
    &-h4{
        font-size: 34px;
    }
    
    &-h5{
        font-size: 24px;
    }
    
    &-h6{
        font-size: 20px;
    }
}

// Title class

$titleParent : 's-title';

.#{$titleParent} {
    font-variation-settings: "wght" 700;
    line-height: normal;

    &--x-large{
        font-size: 22px;
    }

    &--large{
        font-size: 18px;
    }

    &--medium{
        font-size: 16px;
    }

    &--small{
        font-size: 14px;
    }

    &--x-small{
        font-size: 12px;
    }

    &--micro{
        font-size: 10px;
    }
}

// Caption class

$captionParent : 's-caption';

.#{$captionParent} {
    line-height: normal;

    &--large{
        font-variation-settings: "wght" 500;
        font-size: 14px;
    }

    &--bold{
        font-variation-settings: "wght" 700;
        font-size: 12px;
    }

    &--medium{
        font-variation-settings: "wght" 500;
        font-size: 12px;
    }

    &--small{
        font-variation-settings: "wght" 400;
        font-size: 10px;
    }
}

//------------------------------------------------
// System design class for 'Border'
//------------------------------------------------

$borderParent : 's-border';

.#{$borderParent} {
    border:1px solid #E8E8E8;

    // border weight
    &--thin{
        border-width: 1px !important;
    }

    &--medium{
        border-width: 2px !important;
    }

    // border style
    &--dashed{
        border-style: dashed !important;
    }

    &--solid{
        border-style: solid !important;
    }

    // border color
    &--light-gray{
        border-color: #F3F3F3 !important;
    }

    &--gray{
        border-color: #E8E8E8 !important;
    }

    &--dark-gray{
        border-color: #CBCBCB !important;
    }

    // border situation
    &--bottom{
        border-top: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }

    &--left{
        border-top: 0 !important;
        border-bottom: 0 !important;
        border-right: 0 !important;
    }

    &--top{
        border-bottom: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }

    &--right{
        border-top: 0 !important;
        border-left: 0 !important;
        border-bottom: 0 !important;
    }
}

//------------------------------------------------
// System design class for 'Shadow'
//------------------------------------------------

$shadowParent : 's-shadow';

.#{$shadowParent} {
    &--dark{
        box-shadow: 0px 2px 4px 0px rgba(97, 97, 97, 0.10);
    }

    &--medium{
        box-shadow: 0px 2px 4px 0px rgba(97, 97, 97, 0.10);
    }

    &--light{
        box-shadow: 2px 2px 4px 0px rgba(97, 97, 97, 0.05);
    }
}

//---------------------------------------------
// Border radius
//---------------------------------------------

@mixin borderRadius($start: 6, $end: 40) {
    @for $i from $start through $end {
        $class: "br#{$i}";

        .#{$class} {
            border-radius: #{$i}px !important;
            // You can add more styles here if needed
        }
    }
}

@include borderRadius(6, 40);


//---------------------------------------------
//	Button
//---------------------------------------------

.s-btn{
    &--outline{
        border: 2px solid !important;
        border-radius: 12px !important;
        box-shadow: none !important;
    }

    &--outline-primary{
        border-color: #2196F3 !important;
    }

    &--fill{
        border: none;
        border-radius: 12px !important;
        box-shadow: none !important;
    }

    &--fill-primary{
        background-color: #2196F3 !important;
    }

    &--outline-success{
        border-color: #4CAF50 !important;
    }

    &--no-bg{
        background-color: transparent !important;
    }

    &--bg-white{
        background-color: #fff !important;
    }

    &--bg-gray{
        background-color: #BDBDBD !important;
    }
}